---
layout: default
---



<ul class="posts-list">
  <article class="post-preview">
  
  {% assign category = page.category | default: page.title %}
  <h2>Posts in {{ category }} ({{ site.categories[category].size }})</h2>
  <hr>
  {% for post in site.categories[category] %}
    <li>
      <style>
            a:hover{
                background-color: #84a8a8;
            }

            a:active{
                background-color: rgb(161, 180, 180);
            }
      </style>
      <h3>
        <a href="{{ site.baseurl }}{{ post.url | absolute_url }}" style ="color: black"  >
          <u>{{ post.title }}</u>
        </a>
        
      
          <h6 style = "color:	#5F9EA0">{{ post.subtitle | strip_html }}</h6>
          <br>
      </h3>
    </li>
  {% endfor %}
</article>
</ul>